# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Databases
*.db
*.sqlite3

# VS Code
.vscode/

# JetBrains
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python Build Artifacts
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/

# Node
node_modules/
